<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fantasy.team.prediction">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
        android:allowBackup="false"
        android:alwaysDrawnWithCache="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.FantacyExpert"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        tools:targetApi="n">
        <activity
            android:name="com.fantasy.team.prediction.FirstScreenActivity"
            android:theme="@style/Theme.FantacyExpert.NoActionBar"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name="com.fantasy.team.prediction.ProfileActivity" />
        <activity
            android:name="com.fantasy.team.prediction.TopFantacyAppsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FantacyExpert.NoActionBar" />
        <activity
            android:name="com.fantasy.team.prediction.NewsmActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FantacyExpert.NoActionBar" />
        <activity
            android:name="com.fantasy.team.prediction.Refer_EarnActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FantacyExpert.NoActionBar" />
        <activity
            android:name="com.fantasy.team.prediction.SignupActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FantacyExpert.NoActionBar" />
        <activity
            android:name="com.fantasy.team.prediction.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FantacyExpert.NoActionBar" />
        <activity
            android:name="com.fantasy.team.prediction.IntroActivity"
            android:exported="false" />


        <activity
            android:name="com.fantasy.team.prediction.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FantacyExpert.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fantasy.team.prediction.NavigationItemsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FantacyExpert.NoActionBar" />
        <activity
            android:name="com.fantasy.team.prediction.NewsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FantacyExpert.NoActionBar" />
        <activity
            android:name="com.fantasy.team.prediction.MatchDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FantacyExpert.NoActionBar" />
        <activity
            android:name="com.fantasy.team.prediction.MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FantacyExpert.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.cricpro.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name="com.fantasy.team.prediction.NetworkChangeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
    </application>

</manifest>